[Unit]
Description=Sysadmin tools
After=network.target

[Service]
SuccessExitStatus=143

Type=simple
Restart=always

Environment="JAVA_HOME=<... path to java home ...>"
WorkingDirectory=<... path to project directory ...>

ExecStart=<... path to java home ...>/bin/java -jar target/quarkus-app/quarkus-run.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=default.target
RequiredBy=network.target
